html {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}



/* Header */


header {
    background-color: black;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.13rem;
    border-bottom: 1px solid seashell;
    display: inline-flex;

}

.logo {
    margin: 0.45rem;
    max-height: 2.27rem;
    justify-content: flex-start;

}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

ul {
    flex-wrap: wrap;
    display: flex;
    list-style-type: none;
    align-content: center;
}

li {

    padding: 0 0.75rem;
}

li a {
    color: seashell;
}

header i {
    color: seashell;
    margin: 10px 40px;
}

@media only screen and (min-width: 800px) {
    .mobile {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .desktop {
        display: none;
    }
}
/* Banner */

.banner {
    display: flex;
    justify-content: center;
}

.container {
    background-image: url("../../resources/images/img-mission-background.jpg");
    background-position: center;
    min-height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
}

.soon {
    text-align: center;
    background-color: black;
    width: 100%;
}

.btn {
    color: seashell;
    background-color: black;
    border-radius: 3px;
    border: 1px solid seashell;
    margin: 10px;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: gray;
    color: black;
    border: 1px solid black;
}